<div id="main-form">
<h1>INVOICE #<%= @invoice.id %></h1>

<%= render 'form' %>

<div id="line-item-buttons">
  <%= link_to 'New Line Item', "#", id: "new-line-item",
    data: { adq_uuid: "", invoice_id: @invoice.id } %>

  <%= link_to "Save All", "#", id: "line-items-save-all",
    data: { adq_uuid: "", invoice_id: @invoice.id } %>
</div>

<table id="line-item-table">
  <tbody data-target="line-item">
    <tr>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Complete</th>
      <th>Priority</th>
      <th>Status</th>
      <th></th>
    </tr>

    <%= template(collection: @line_items, target: "line-item", model: "line_item") do %>
      <tr class="li-row">
        <td><%= k_text_field_tag(:line_item, :description) %></td>
        <td><%= k_text_field_tag(:line_item, :qty) %></td>
        <td><%= k_text_field_tag(:line_item, :price_cents) %></td>
        <td><%= k_check_box_tag(:line_item, :complete, nil, nil, class: "css-checkbox") %></td>
        <td><%= k_select_tag :line_item, "priority",
                  options_for_select(["normal", "high", "urgent"]) %>
        </td>
        <td><div data-dirty data-k-uuid=""><%= fa_icon "check-circle-o 2x", style: "color:#2ECC71" %></i></div></td>
        <td><%= link_to "Save", "#", class: "persist",
          data: { k_uuid: "", invoice_id: @invoice.id } %>
        </td>
        <td><%= link_to "Delete", "#", class: "delete",
          data: { k_uuid: "", id: "" } %>
        </td>
      </tr>
      <tr>
        <td><%= error_for(:line_item, :description) %></td>
        <td><%= error_for(:line_item, :qty) %></td>
        <td><%= error_for(:line_item, :price_cents) %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to 'Show', @invoice %> |
<%= link_to 'Back', invoices_path %>

</div>
